# =========================
# .NET / C# / Visual Studio
# =========================

## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio
.vs/
*.user
*.userosscache
*.sln.docstates
*.suo
*.cache
*.dbmdl
*.jfm

## Visual Studio Code
.vscode/
*.code-workspace

## NuGet Packages
*.nupkg
*.snupkg
.nuget/
packages/
project.lock.json
project.fragment.lock.json
artifacts/

## Windows image file caches
Thumbs.db
ehthumbs.db

## Folder config file
Desktop.ini

## Recycle Bin used on file shares
$RECYCLE.BIN/

## Windows Installer files
*.cab
*.msi
*.msm
*.msp

## Windows shortcuts
*.lnk

## macOS
.DS_Store
.AppleDouble
.LSOverride
._*

## Rider IDE
.idea/
*.sln.iml

## ReSharper
_ReSharper*/
*.DotSettings.user

## JetBrains
*.resharper

## NCrunch
*.ncrunch*
_NCrunch_*
.*crunch*.local.xml

## Installshield output folder
[Ee]xpress/

## DocProject
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html

## Publish Web Output
*.[Pp]ublish.xml
*.azurePubxml
*.pubxml
*.publishproj

## Backup files
*.bak
*.orig
*~

## Temp files
Temp.txt

